body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a {
    color: #cfb53b;
}

a:hover{
    color: #cfa93b; 
    text-decoration: none;
}

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* HEADER */

header {
    position: relative;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: #343a40;
    background: url("img/bg-masthead-2.jpg") no-repeat center center;
    background-size: cover;
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

header h1 {
    font-size: 2rem;
}

.underline-magical {
    font-weight: 400;
    background-image: linear-gradient(120deg, #e5b048 0%, #fed30c 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 90%;
    transition: background-size 0.25s ease-in;
}

.client-logo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

/* POSTs */

section .section-title.underline::after {
    background-color: #cfb53b;
    content: "";
    display: block;
    height: 8px;
    margin: 16px 0 20px;
    width: 50px;
}

span.normal {
    font-weight: normal;
}

span.thick {
    font-weight: bold;
}

span.thicker {
    font-weight: 900;
}

.post {
    margin-bottom: 40px;
}

.post .post-img {
    display: block;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.post .post-img:hover, .post .post-img:focus {
    opacity: 0.9;
}

.post .post-img > img {
    width: 100%;
}

.post .post-meta {
    margin-top: 15px;
    margin-bottom: 15px;
}

.post-meta .post-date {
    font-size: 13px;
    font-weight: 600;
}

.post .post-title {
    font-size: 18px;
    margin-bottom: 0px;
}

.main-post h4 {
    padding-top: 2rem;
}

hr {
	border-top: 1px solid #cfb53b;
	text-align: center;
}

hr:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f8f9fa;
	color: #cfb53b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

blockquote {
    border-radius: 3px;
    position: relative;
    font-style: italic;
    text-align: center;
    padding: 1rem 1.2rem;
    width: 80%;
    color: #4a4a4a;
    margin: 1rem auto 2rem;
    color: #4a4a4a;
    background: #E8E8E8;
}

blockquote:before,
blockquote:after{
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 13px;
    color: #E8E8E8;
    font-size: 34px;
    font-weight: 900;
}

blockquote:before{
    content: "\f10d";
    margin-right: 13px;
    right: 100%;
}

blockquote:after{
    content: "\f10e";
    margin-left: 13px;
    left: 100%;  
}

figure.figure-img {
    margin-bottom:20px;
}

figure.figure-img figcaption {
    padding-top:5px;
    font-size: 13px;
    font-weight:600;
}

/* CONTACT */

.contact-icon {
    margin-top: 40px;
    margin-bottom: 40px;
}

.single-icon i {
    font-size: 24px;
    width: 50px;
    height: 50px;
    border: 1px solid #444;
    line-height: 46px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* NEWS */

.loading-dots:after {
    content: '.';
    animation: dots 3s steps(1, end) infinite;
}

@keyframes dots {
    0%, 2.5% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    45% {
        text-shadow: .25em 0;
    }
    67.5%, 100% {
        text-shadow: .25em 0, .5em 0;
    }
}	

/* FOOTER */

.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

footer a {
    color: rgba(255,255,255,.5);
}

footer a:hover {
    color: rgba(255,255,255,.75)
}